<ion-content [fullscreen]="true">
  <div class="flex-loader">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Mejorainfotech</ion-card-title>
        <ion-card-subtitle>Add Chield</ion-card-subtitle>
      </ion-card-header>
    
      <ion-item>
        <ion-input type="email" label="Enter User Email" labelPlacement="floating" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Enter User Password" labelPlacement="floating" placeholder="Password"></ion-input>
      </ion-item>
      <ion-button color="dark" size="full" fill="clear">Forgot email/password</ion-button>
      <ion-button color="success" size="full">Login</ion-button>
      <ion-button color="success" size="full" fill="clear">Register</ion-button>
      </ion-card>
  </div>
</ion-content>
